/* styles.css */

/* Reset some default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.page__container {
  width: 100%;
  max-width: 800px;
  padding: 40px 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.photo-container {
  margin-bottom: 20px;
}

.photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

.game-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.player-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  margin: 10px;
}

.player-container:hover {
  transform: translateY(-5px);
}

.emoji {
  font-size: 50px;
  margin-bottom: 10px;
}

.name-display {
  font-size: 18px;
  margin-top: 5px;
  color: #888;
}

.result-area {
  flex: 1;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#play-btn {
  font-size: 20px;
  padding: 15px 40px;
  background-color: #b365e1;
  color: white;
  border-radius: 35px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  outline: none;
  border: none;
}

#play-btn:hover {
  background-color: #2e0346;
  transform: scale(1.05);
}

.footer {
  margin-top: 20px;
  font-size: 14px;
  color: #888;
}

.link {
  text-decoration: none;
  color: #b365e1;
}

/* Media Queries */
@media (max-width: 800px) {
  .page__container {
    padding: 50px 30px;
    border-radius: 15px;
  }

  .game-container {
    flex-direction: column;
    align-items: center;
  }

  .player-container {
    flex: none;
    width: 100%;
    margin: 10px 0;
  }

  .emoji {
    font-size: 40px;
  }
}
